.additional-products {
  padding: 25px 20px 20px;
}

.additional-products__title {
  margin: 0;
  margin-bottom: 49px;
}

.additional-products__list {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.additional-products__gift-wrapper {
  padding: 65.5px 10px 43px;
}
