.main-header {
  padding: 13px 20px 14px;

  @media (min-width: $tablet-width) {
    padding: 25px 0;
  }
}

.main-header__navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.main-header__logo-image {
  display: inline-block;
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-header__menu-button {
  position: relative;
  padding: 12px;
  border: none;
  cursor: pointer;
  background-color: $primary-bg-color;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    @include absolute-center;
    content: "";
    width: 24px;
    height: 16px;
    mask-image: url("../../icons/stack.svg#menu-burger");
    mask-size: contain;
    background-color: $fourth-bg-color;
  }
}

.main-header__list {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
